body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
}
#card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    height: 375px;
    padding: 15px;
    background-color: hsl(216, 50%, 16%);
    gap: 10px;
    border-radius: 10px;
}
.card-img{
    background-image: url(../images/image-equilibrium.jpg);
    width: 200px;
    height: 200px;
    background-size: contain;
}
h1{
    color: #fff;
    font-size: 15px;
}
p{
    color:hsl(215, 51%, 70%);
    font-size: 13px;
    margin:0;
}
small{
    color:hsl(215, 51%, 70%);
}
.eth{
    color:hsl(178, 100%, 50%);
}
.createOf{
    color:hsl(215, 51%, 70%);
}
.createOf img{
    width: 20px;
    border: solid 1px #fff;
    border-radius: 50%;
}
.name{
    color: #fff;
}
.border-line{
    border: solid 1px hsl(215, 32%, 27%);
    width: 196px;
}
.priceAndDays{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
}