body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: hsl(217, 54%, 11%);
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}
#card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 200px;
    height: 358px;
    padding: 15px;
    background-color: hsl(216, 50%, 16%);
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 9px 16px 15px rgba(0, 5, 31, 0.3);

}
.card-img{
    background-image: url(../images/image-equilibrium.jpg);
    width: 200px;
    height: 200px;
    background-size: contain;
    border-radius: 5px; 
}
.eye{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(0, 255, 247, 0.6);
    opacity: 0;
    transition: 0.5s
}
.eye img{
    width:40px;
}
h1{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0;
    transition: 0.5s;
}
p{
    color: hsla(215, 51%, 70%, 0.6);
    font-size: 12px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 4px;
    width:210px;
}
small{
    color: hsla(215, 51%, 70%, 0.6);
}
.priceAndDays{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 11px;
}
.eth{
    color:hsl(178, 100%, 50%);
}
.eth, .daysLeft{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 10px;
}
.eth img, .daysLeft img{
    height:3px;
    height: 11px;
}
.border-line{
    border: solid 0.5px hsl(215, 32%, 27%);
    width: 200px;
}
.card-bottom{
    display: flex;
    align-items: center;
    font-size: 11px;
    gap: 8px;
}
.card-bottom img{
    width: 20px;
    border: solid 1px #fff;
    border-radius: 50%;
}
.createOf{
    color: hsla(215, 51%, 70%, 0.6);
    display: flex;
    gap: 4px;
}
.name{
    color: rgba(255 ,255 ,255, 0.8);
    transition: 0.5s;
}
h1:hover, .name:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}
.eye:hover{
    opacity:1;
    cursor: pointer;
}
@media (max-width)